# requirements.txt records the full set of dependencies for development
torch --index-url https://download.pytorch.org/whl/cu121
vllm==0.7.3
accelerate
transformers
peft
tensordict<0.6
datasets
numpy
pandas
pyarrow>=15.0.0
hydra-core
wandb
ray
codetiming
dill
pybind11
pylatexenc
liger-kernel
matplotlib
